:root {
  --md-text-font: "SpaceGrotesk", "Roboto";
  --md-code-font: "space_mono", "Roboto Mono";
  --custom-headline-font: "miratrix", "Roboto";
  /* --color-highlight: #C21225; */
  --color-highlight: #3E0E3C;
  /* #DA2F43; #4051b5 */
  --color-no-highlight: #f2f9f9;

  /* --color-shadow-dark: #C21225;
  --color-shadow: #DA2F43;
  --color-shadow-light: #F35267;
  --color-highlight: #f2f9f9;
  --color-shadow-08: rgba(218, 47, 67,.8); */
}

@font-face {
  font-family: 'SpaceGrotesk';
  font-display: swap;
  src: url('../fonts/SpaceGrotesk-Regular.woff2') format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'SpaceGrotesk';
  font-display: fallback;
  src: url('../fonts/SpaceGrotesk-Light.woff2') format('woff2');
  font-weight: 300;
}
@font-face {
  font-family: 'SpaceGrotesk';
  font-display: fallback;
  src: url('../fonts/SpaceGrotesk-Medium.woff2') format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'space_mono';
  font-display: fallback;
  src: url('../fonts/spacemono-regular-webfont.woff2') format('woff2'),
       url('../fonts/spacemono-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'miratrix';
  src: url('../fonts/miratrix-normal-webfont.woff2') format('woff2'),
       url('../fonts/miratrix-normal-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.md-nav__item {
  padding: 0.1rem 0.6rem;
}

.md-header__inner.md-grid {
  border-bottom: 9px solid var(--color-highlight);
}

.md-footer-meta__inner.md-grid {
  border-top: 9px solid var(--color-highlight);
}
.md-header--shadow {
  box-shadow: none;
}

.md-footer-meta__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  font-size: .64rem;
  padding: 20px 0 10px;
}
.md-footer-link {
  margin: auto 0.6rem;
}

.md-typeset a {
  color: var(--color-highlight);
}
.md-typeset a:hover {
  color: var(--color-highlight);
  font-weight: 800;
  text-decoration: underline;
}
.md-nav__item .md-nav__link--active {
  color: var(--color-highlight);
  font-weight: 800;
  text-decoration: underline;
}
.md-nav__link:focus, .md-nav__link:hover {
  color: var(--color-highlight);
}

.md-nav__link--passed {
  color: var(--md-default-fg-color--lighter);
}

.md_top {
  color: var(--md-default-fg-color);
}

.md-top:hover {
  background-color:  var(--color-highlight);
}

.md-copyright,
.md-social {
  padding: 0;
  margin: 0;
  margin-left: 10px;
}

.md-footer,
.md-footer-meta, 
.md-copyright,
html .md-footer-meta.md-typeset a {
  background-color: transparent;
  color: var(--md-typeset-color);
}

html .md-footer-meta.md-typeset a:hover {
  color: var(--md-typeset-color);
  text-decoration: underline;
}

.md-header__button.md-logo img, .md-header__button.md-logo svg {
  height: 3rem;
}

.md-header__title .md-ellipsis {
  margin-left: 0;
  font-family: var(--custom-headline-font);
}

.md-nav__title {
  margin-bottom: 15px;
}
.md-nav__title {
  font-family: var(--custom-headline-font);
}

.md-main {
  margin-bottom: 1.5rem;
}

.md-content__inner  {
  padding-top: 0;
}

/** tags in file with hash **/
.hash {
  display: none;
  font-weight: 500;
  color: var(--color-no-highlight);
  background-color: var(--color-highlight);
  padding: .1em .9375em;
  font-size: .64rem;
  letter-spacing: normal;
  line-height: 1.6;
  vertical-align: middle;
}

/** auto generated by mkdocs **/
.md-typeset .md-tag {
  height: auto;
  border-radius: 0;
  /* background-color: var(--color-highlight); */
  background-color: var(--color-no-highlight);
  border: 1px solid var(--color-highlight);
  padding: .1em .9375em;
}
.md-typeset .md-tag[href],
.md-tag {
  /* color: var(--color-no-highlight); */
  color: var(--color-highlight);
}

.md-typeset .md-tag[href]:focus, .md-typeset .md-tag[href]:hover {
  background-color: var(--color-highlight);
  color: var(--color-no-highlight);
}

.md-typeset h1 {
  margin-bottom: 0.5em;
  font-weight: 800;
  color: var(--md-typeset-color);
}

.md-typeset h2,
.md-typeset h3,
.md-typeset h4,
.md-typeset h5 {
  font-weight: 800;
}

.md-typeset .md-tags {
 margin-bottom: 1.5em;
}

.md-typeset {
  font-size: 19px;
  line-height: 28.5px;
}